.modalEventOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 8;

}
.modalEventOverlay .modalEvent {
  position: absolute;
  right: 10px;
  top: 25%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 600px;
  animation: slide-left 2s ease-in-out both;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modalEventOverlay .modalEvent h1 {
  font-size: 50px;
  margin-bottom: 50px;
  color: #000;
}
.modalEventOverlay .modalEvent select {
  width: 100%;
  height: 40px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.modalEventOverlay .modalEvent .modalEventItems {
  width: 100%;
  margin-top: 30px;
}
.modalEventOverlay .modalEvent .modalEventItems label {
  font-size: 16px;
  margin-bottom: 5px;
}
.modalEventOverlay .modalEvent .modalEventItems input {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 20px;
}
.modalEventOverlay .modalEvent .btnModalEvent {
  margin-top: 30px;
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
.modalEventOverlay .modalEvent .btnModalEvent:hover {
  transform: scale(1.05);
}